<ion-modal-view class="modal-popup modal-contacts">
  <ion-content cashe-view="false" overflow-scroll="true">
    <div class="cont-wrap">
        <img src="img/contacts.jpg" alt="plant" class="plant-img">
        <h4 class="info-header">{{lng.contacts}}</h4>
        <ul class="info-ul">
            <li>{{lng.tel}}.:+994 12 408 0555</li>
            <li>{{lng.mob}}.:+994 50 682 0555</li>
            <li>+994 55 682 0555</li>
            <li>+994 70 780 0555</li>
            <li>email: info@kehrizsu.az</li>
        </ul>
    </div>
  </ion-content>
  <ion-footer class="info-footer">
    <div class="facebook">
        <div class="fb-wrap">
            <a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="copyr">
            Kehriz &copy; 2008-2017
        </div>
    </div>
    <button class="back-btn" ng-click="closeInfo()">{{lng.back}}</button>
  </ion-footer>
</ion-modal-view>