/* Empty. Add your own CSS if you like */
html, body {
    height: 100%;
}
.main {
    height: 100%;
    background: url(../img/bottle.png) center center, linear-gradient(to bottom, #1f467d, #b5c6d8); 
    /* background-image: url(../img/bottle.png);*/
    background-size: 100%; 
    background-repeat: no-repeat;
    position: relative;
}
.vol {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 5vh;
}
.info {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 36px;
    color: #0071bc;
    background: #fff;
    height: 27px;
    width: 29px;
}
.info .fa {
    margin-left: -1px;
    margin-top: -5px;
}

.lang {
    width: 40px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}

.lang .lng-circle {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid  #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang .lng-circle.active {
    border: 2px solid  #cecece;
    color: #cecece; 
}
.buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.buttons button {
    width: 9em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background: #0071bc;
    padding: 7px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;

}
.buttons button.left {
    background: none;
    border: 2px solid  #fff;
}

/* ----------- POPUP ----------*/
.header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.popup-head h3 {
    color: #0071bc;
    font-weight: 900;
    font-size: 16px;
}
.popup-body {
    padding-top: 0;
    font-size: 16px;
}
/* .popup-body .close {
    position: absolute;
    top: 4px;
    right: 10px;
}
.popup-body .close span {
    color: #0071bc;
    font-weight: bold;
} */

.pop-input {
    padding: 0 5px !important;
    border: 2px solid  #b3b3b3 !important;
    background: #f2f2f2;
}
.pop-input.name-inp {
    margin-bottom: 10px;
}
.popup button.button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-width: 30px;
    font-size: 16px;
    font-weight: 900;
}

/* ----------- MODAL ----------*/
.cont-wrap {
    color: #333;
}
.plant-img {
    width: 100%;
}
.info-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}
.info-ul {
    width: 200px;
    margin: 0 auto;
}
.info-ul li {
    text-align: right;
    font-size: 18px;
    padding: 5px 0;
    color: #333;
}
.info-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.fb-wrap {
    background: #0071bc;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.fb-wrap .fa {
    color: #fff;
    font-size: 20px;
}
.back-btn {
    border: none;
    background: #0071bc;
    color: #fff;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 900;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: #0071bc !important;
}
.ionic_datepicker_popup .selected_date {
    background-color: #0071bc !important;
}
.ionic_datepicker_popup .popup-buttons button {
    background-color: #0071bc !important;

}
.ionic_datepicker_popup .popup-buttons button {
    background-color: #0071bc !important;
}
.ionic_datepicker_popup .popup-body .button-clear {
    color: #0071bc !important;

}
.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
    border-bottom-color: #0071bc !important;
}
.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
    color: #0071bc !important;
}
.ionic_timepicker_popup .heading {
    background-color: #0071bc !important;
}
.ionic_timepicker_popup .button_set, .ionic_timepicker_popup .button_close {
    background-color: #0071bc !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.ionic_datepicker_popup .today {
    border: 1px solid  #0071b0 !important;
}
.ionic_datepicker_popup .popup-body {
    padding-top: 10px !important;
}
@media screen and (orientation: landscape) {
    .main {
        position: relative;
    }
    .main:after {
        content: '';
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
        background: url(../img/bottle.png) center center, linear-gradient(to bottom, #1f467d, #b5c6d8); 
        background-size: contain; 
        background-repeat: no-repeat;
        top: 0;
        left: 0;     
    }
}